{% load static %}
<header class="intro-header" style="background-image: url({% static 'img/home-bg.jpg'%})">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="site-heading">
                    <h1>NewsDump</h1>
                    <hr class="small">
                    <span class="subheading">This is a quick simple site built for demonstration purposes</span>
                </div>
            </div>
        </div>
    </div>
</header>